html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    cursor: none;
    user-select: none;
}

html {
    background-color: black;
    color: white;
    font-family: Lexend, Arial, Helvetica, sans-serif;
}

.app, .feature {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.app { transition: 425ms; }

.content-player {
    width: 100%;
    height: 100%;
    background-color: black;
    padding: 0px;
    margin: 0px;
}

.home {
    position: fixed;
    bottom: 16px;
    left: 16px;
    width: calc(100% - 48px + 16px);
    height: calc(128px + 16px);
    overflow: hidden;
    border-radius: 20px;
    background-color: rgba(101, 100, 100, 0.457);
    backdrop-filter: blur(15px);
    display: flex;
    flex-direction: row;
    transition: 425ms
}

.tile-container {
    height: 128px;
    width: 134px;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    justify-content: center;
    padding: 8px;
}

.tile {
    flex-shrink: 0;
    height: 128px;
    width: 128px;
    background-color: black;
    margin-left: 3px;
    margin-right: 3px;
    border-radius: 16px;
    transform: scale(0.8);
    transition: 245ms;
}

.tile-active {
    transform: scale(1);
}

.volume-ui {
    width: 400px;
    height: 48px;
    background-color: rgb(62, 62, 62);
    padding: 8px;
    position: fixed;
    left: calc((100% - 16px - 400px) / 2);
    bottom: 48px;
    border-radius: 50px;
    overflow: hidden;
}

.volume-level, .volume-muted {
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    padding: 8px;
    background-color: rgb(1, 1, 1);
    border-radius: 50px;
}

.volume-muted {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.volume-progress {
    height: 100%;
    border-radius: 50px;
    background-color: rgb(88, 163, 220);
    transition: 300ms;
}

.volume-muted p {
    margin: 0px;
    padding: 0px;
    width: 100%;
    font-size: 24px;
}

.live-badge {
    background-color: rgb(37, 37, 37);
    width: 300px;
    position: fixed;
    top: 16px;
    left: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px;
    border-radius: 20px;
}

.live-badge-img {
    height: 48px;
    width: 48px;
    border-radius: 12px;
}

.live-badge-labels {
    width: 236px;
}

.live-badge-labels p { margin: 0; }

.live-badge-index {
    font-size: 12px;
    opacity: 0.6;
}

.live-badge-channel {
    font-size: 24px;
}

.tv-alert {
    position: fixed;
    background-color: black;
    border: 8px solid rgb(61, 61, 61);
    padding: 16px;
    width: 820px;
    height: 445px;
    top: calc((100% - 445px - 16px - 32px) / 2);
    left: calc((100% - 820px - 16px - 32px) / 2);
    border-radius: 20px;
}

.tv-alert-header {
    width: calc(100% - 32px);
    font-size: 32px;
    padding: 16px;
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.tv-alert-body {
    width: 100%;
    font-size: 22px;
    height: calc(100% - 32px - 48px - 32px - 48px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.tv-alert-footer {
    width: calc(100% - 32px);
    font-size: 32px;
    padding: 16px;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.tv-alert-button {
    padding: 8px 36px;
    height: 32px;
    font-size: 24px;
    border: 3px solid rgb(61, 61, 61);
    border-radius: 50px;
    margin-left: 16px;
    margin-right: 16px;
}

.tv-alert-button-active {
    transform: scale(1.3);
    color: black;
    border-color: white;
    background-color: white;
}

.tv-alert-link {
    color: rgb(0, 157, 255)
}

.live-captions {
    position: fixed;
    bottom: 32px;
    left: 32px;
    width: calc(100% - 64px);
    font-size: 29px;
    font-family: Lexend;
    text-align: center;
    filter: drop-shadow(5px 5px 4px #0000007f);
}

.live-captions.align-left {
    text-align: left;
}

.live-captions.align-right {
    text-align: right;
}

.usb-main, .usb-video, .usb-image-viewer {
    width: 100%;
    height: 100%;
}

.usb-main {
    display: flex;
    flex-direction: column;
}

.usb-main-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80px;
}

.usb-main-header img {
    height: 64px;
    width: 64px;
    padding: 8px;
}

.usb-main-header p {
    margin: 0px;
    font-size: 50px;
    padding: 6px;
}

.usb-main-content {
    width: 100%;
    height: calc(100% - 80px);
    overflow: hidden;
}

.usb-file-container {
    padding: 8px;
    width: calc(100% - 16px);
    height: 64px;
    overflow: hidden;
}

.usb-file {
    width: calc(100% - 16px);
    height: 48px;
    display: flex;
    flex-direction: row;
    padding: 8px;
    border-radius: 20px;
    transform: scale(0.96);
    transition: 300ms;
}

.usb-file-active {
    transform: scale(1);
    background-color: rgb(60, 129, 239);
}

.usb-file-img {
    height: 32px;
    width: 32px;
    padding: 8px;
}

.usb-file-label {
    font-size: 36px;
    padding: 4px;
    margin: 0px;
}

.usb-text {
    padding: 16px;
    width: calc(100% - 32px);
    height: calc(100% - 32px);
    overflow: hidden;
}

.usb-text pre {
    padding: 0px;
    margin: 0px;
    white-space: pre-wrap;
    word-break: word;
    font-size: 48px;
    width: 100%;
    height: fit-content;
}

.usb-image-viewer {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.usb-image-viewer div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.usb-image-viewer img {
    max-width: 100%;
    max-height: 100%;
}

.usb-audio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
}

.usb-audio-meta {
    height: fit-content;
}

.usb-audio p {
    margin: 0;
    padding: 4px;
}

#usbaudiotitle {
    font-size: 48px;
}

#usbaudioartist {
    font-size: 32px;
}

#usbaudioalbum {
    font-size: 21px;
}

.usb-audio-controls {
    padding: 8px;
    width: calc(100% - 16px);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.usb-audio-control {
    width: 48px;
    height: 48px;
    padding: 16px;
    border-radius: 50%;
    border: 4px solid white;
}

.usb-audio-control svg {
    width: 48px;
    height: 48px;
}

.usb-audio-control svg * {
    fill: white;
}

.usb-audio-control-active {
    background-color: rgb(60, 129, 239);
    border: 4px solid rgb(60, 129, 239);
}

.usb-audio-control-active svg * {
    fill: white;
}

.usb-audio-timer {
    width: calc(100% - 16px);
    padding: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.usb-audio-time, .usb-audio-duration {
    font-size: 22px;
    text-align: center;
    width: 100px;
    padding: 8px 16px;
}

.usb-audio-timer-slider {
    margin-top: 10px;
    width: calc(100% - 64px - 44px - 300px);
    height: 22px;
    border-radius: 50px;
    background-color: rgb(42, 42, 42);
    overflow: hidden;
}

.usb-audio-timer-progress {
    height: 100%;
    background-color: rgb(60, 129, 239);
    transition: 200ms linear;
}

.usb-audio-image-holder {
    padding: 8px;
    width: calc(100% - 16px);
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.usb-audio-image {
    height: 200px;
    width: 200px;
    border-radius: 16px;
    filter: drop-shadow(0px 0px 12px #ffffffaf);
    background-color: black;
}